body {
	margin: 0;
}

.color-input {
	position: absolute;
	top: 40%;
	left: 10%;
	height: 70px;
	font-size: 1.6vw;
	width: 80%;
	padding: 10px;
	border-radius: 10px;
	border: 0;
	background-color: rgba(255,255,255,0.5)
}

.color-input.rgb {
	top: calc(40% + 75px)
}

.block {
	height: 100%;
	width: 16.466667%;
	display: inline-block;
	margin: -2px;
	position:relative;
}

.green {
	background-color:#86c170;
}

.teal {
	background-color: #47b6a5;
}

.lime {
	background-color: #c0d344;
}

.blue {
	background-color: #425d8d;
}

.light {
	background-color: #c0dad2
}

.dark {
	background-color: #3c3c3b
}